<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.timemachine"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:icon="@drawable/ic_launcher"
                 android:label="@string/app_name"
                 android:screenOrientation="portrait">
        <activity android:name=".Splash"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TodayActivity"/>
        <activity android:name=".MainTabActivity"/>
        <activity android:name=".RunActivity"
                android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".StatisticsActivity"/>
        <activity android:name=".RegularActivity"/>
        <activity android:name=".SettingsActivity"/>

        <activity android:name=".StatisticsActivity" />
        <activity android:name=".StartActivity" />
        <activity android:name=".TodoActivity" />
        <activity android:name=".About"
                  android:label="About Time Machine"
                  android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".SyncActivity"/>
        <activity android:name=".AddTask"
                  android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".SetTimeActivity"/>
        <activity android:name=".AddRegular"
                  android:theme="@android:style/Theme.Dialog"/>
        <provider android:name=".TaskProvider"
                  android:authorities="com.timemachine.TaskProvider"/>
    </application>
</manifest> 
